<div class="h-full bg-[#eef1ebc2] rounded-[20px] overflow-hidden">
  <app-mail-inbox
    *ngIf="currentTypeList === 'INBOX'"
    [currentSelectMail]="currentSelectMail"
    [mailList]="mailList"
    (selectCurrentMail)="selectCurrentMail($event)"
    (updateCheckedMail)="
      updateCheckedMail($event.currentTypeMail, $event.id, $event.checked)
    "
    (updateStarMail)="
      updateStarMail($event.currentTypeMail, $event.id, $event.star)
    "
    (deleteMailList)="deleteMailList($event.currentTypeMail, $event.id)"
  ></app-mail-inbox>
  <app-mail-detail
    [currentSelectMail]="currentSelectMail"
    (selectCurrentMail)="selectCurrentMail($event)"
  ></app-mail-detail>
</div>
